apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: testing-farm
spec:
  description: Initiate testing-farm test given a list of container images 
  params:
    - name: SNAPSHOT
      description: A list of container images that should undergo testing
    - name: GIT_URL
      description: URL of the GIT repository that contains the tests.
    - name: GIT_REF
      default: "main"
      description: Branch of the git repository used containing the tests
    - name: COMPOSE
      default: "RHEL-9.3.0-Nightly"
      description: Compose to use for the system-under-test.
    - name: ARCH
      default: "x86_64"
      description: Comma-separated list of architectures to run against.
    - name: TIMEOUT
      default: "720"
      description: Set the timeout for the request in minutes. If the test takes longer than this, it will be terminated.
    - name: TESTING_FARM_API_URL
      default: https://api.dev.testing-farm.io/v0.1
      description: The testing-farm instance API to use
    - name: INDEX_OCP_VER
      default: "1"
      description: Index which is used for setting release of OCP local cluser.
    - name: KONFLUX_FMF_PLAN
      default: "/Plans/konflux_ci.fmf"
      description: Plan which will be executed in testing-farm request.
    - name: DISTRO
      default: "RHEL-9.3"
      description: Context of OS which will be set to TF.
  volumes:
    - name: testing-farm-secret
      secret:
        secretName: testing-farm-secret
  steps:
    - image: quay.io/testing-farm/cli:latest
      volumeMounts:
        - name: testing-farm-secret
          mountPath: "/etc/secrets"
          readOnly: true
      env:
        - name: SNAPSHOT
          value: $(params.SNAPSHOT)
        - name: GIT_URL
          value: $(params.GIT_URL)
        - name: GIT_REF
          value: $(params.GIT_REF)
        - name: COMPOSE
          value: $(params.COMPOSE)
        - name: ARCH
          value: $(params.ARCH)
        - name: TIMEOUT
          value: $(params.TIMEOUT)
        - name: TESTING_FARM_API_URL
          value: $(params.TESTING_FARM_API_URL)
        - name: INDEX_OCP_VER
          value: $(params.INDEX_OCP_VER)
        - name: KONFLUX_FMF_PLAN
          value: $(params.KONFLUX_FMF_PLAN)
        - name: DISTRO
          value: $(params.DISTRO)
      script: |
        #!/usr/bin/env bash

        export TESTING_FARM_API_TOKEN=$(cat /etc/secrets/testing-farm-token)

        testing-farm request \
          --environment SNAPSHOT="$(echo ${SNAPSHOT} | base64 -w 0)" \
          --git-url "${GIT_URL}" \
          --git-ref "${GIT_REF}" \
          --plan "${KONFLUX_FMF_PLAN}" \
          --compose "${COMPOSE}" \
          --arch "${ARCH}" \
          --timeout "${TIMEOUT}" \
          --hardware memory='>= 16 GB' \
          --hardware virtualization.is-supported='true' \
          --hardware disk.size='>= 80 GB' \
          --hardware cpu.processors='>= 4' \
          --environment INDEX_OCP_VER="$(echo ${INDEX_OCP_VER})" \
          --context distro="${DISTRO}" |& tee $tf_log
          # Show URL with results
          request_url=$(grep -oE "${TESTING_FARM_API_URL}.*$" $tf_log)
          echo -n "==================================="
          echo -n "There is URL with results of TF request:"
          echo -n "${request_url}"
          echo -n "==================================="